.sidebar .nav .nav-link[data-toggle='collapse']:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    display: inline-block;
    margin-left: auto;
    content: '\f105';
    transition: all .15s ease;
    color: #8898aa;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.sidebar .nav .nav-link[data-toggle='collapse'][aria-expanded='true']:after {
    transform: rotate(90deg);
}

.sub-nav-item:hover {
    background: #eee !important;
}

a {
    text-decoration: none !important;
}

table {
    white-space: nowrap;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #3cbe3f;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: rgb(224, 56, 53);
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

#talentGallery img {
    transition: all 0.5s ease;
}

#talentGallery img:hover {
    transform: scale(1.2);
    filter: grayscale(100%) brightness(70%);
}

#talentGallery .view {
    position: absolute;
    font-size: 25px;
    color: white;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

#talentGallery .image:hover .view {
    opacity: 1;
}
