@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');

.main-text-color {
    color: #6c757d;
}

body {
    font-family: 'Saira Condensed', 'Open Sans', sans-serif;
}

header {
    position: relative;
    background-image: url('../img/website/header-bg.jpg');
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center center;
    transition: all 1.5s ease;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 769px) {
    header {
        height: 800px;
    }
}

.single-slider-area .title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 60px;
}

.single-slider-area .subtitle {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.single-slider-area h1 {
    border-left: none !important;
}

.single-slider-area h1 span {
    color: #c68c71;
}

.single-slider-area p {
    color: #f5f6f7;
    font-size: 18px;
    line-height: 28px;
}

.single-slider-area .header-btn-group {
    padding-top: 31px;
}

.single-slider-area .header-btn-group .boxed-btn {
    width: 170px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    font-weight: 600;
    padding: 0;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    margin-right: 20px;
}

.single-slider-area .header-btn-group .boxed-btn:hover {
    background-color: #fff;
    color: #fd295a;
}

.single-slider-area .header-btn-group .boxed-btn.blank {
    background-color: transparent;
}

.single-slider-area .header-btn-group .boxed-btn.blank:hover {
    color: #fd295a;
}

.single-slider-area .header-btn-group .boxed-btn.blank:hover i {
    background-color: #fd295a;
    border-color: #fd295a;
    color: #fff;
}

.boxed-btn {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 25px;
    text-transform: uppercase;
    color: #fff;
    background-color: #fd295a;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.single-slider-area .header-btn-group .boxed-btn {
    width: 170px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    font-weight: 600;
    padding: 0;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    margin-right: 20px;
}

.main-bg-color {
    background: linear-gradient(37deg, rgba(142, 18, 18, 1) 0%, rgba(27, 68, 135, 1) 76%);
    background-size: 400% 400%;
    transition: all 0.5s ease;
    animation: bg-animation 10s ease infinite;
}


.main-bg-color:hover {
    background: linear-gradient(37deg, rgb(107, 209, 160) 0%, rgba(27, 68, 135, 1) 76%);
    background-size: 400% 400%;
    transition: all 0.5s ease;
    animation: bg-animation 5s ease infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bg-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* Standard syntax */
@keyframes bg-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.social-icons .rounded-circle {
    transition: all 0.2s ease;
}

.social-icons .rounded-circle:hover {
    transform: scale(1.1);
}

/* topbar */

#topbar .social-icons {
    padding: 15px 0px;
}

#topbar .contact {
    padding: 15px 0px;
}

#topbar .contact,
#topbar .contact a {
    font-size: 15px;
    color: white;
}

#topbar .contact a:hover {
    color: white;
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

#topbar .social-icons a {
    padding: 5px;
    width: 35px;
    text-align: center;
    text-decoration: none;
}

#topbar .social-icons a:hover {
    background-color: #3667b6;
}

@media (max-width: 992px) {
    #topbar {
        display: none;
    }
}

@media (min-width: 352px) {
    #contact-breaker {
        display: none;
    }
}

/* navbar */

.navbar {
    padding: 0px;
    z-index: 300;
    margin: 0px 50px;
    border-radius: 200px;
    background: linear-gradient(37deg, rgba(142, 18, 18, 0.8) 0%, rgba(27, 68, 135, 0.7) 76%);
    transition: all 1s ease;
}

.navbar .navbar-brand {
    margin: 0px 0px !important;
    padding: 0px !important;
}

nav a {
    color: white !important;
    font-weight: bold;
}

nav a:hover {
    color: rgb(121, 169, 248) !important;
}

nav .active a {
    color: rgb(121, 169, 248) !important;
}

nav .dropdown-menu {
    background: linear-gradient(37deg, rgba(27, 68, 135, 1) 0%, rgba(142, 18, 18, 1) 96%);
}

nav .dropdown-menu a:hover {
    background-color: transparent;
    color: #3667b6 !important;
}

.nav-item {
    padding: 0px 20px;
}

@media (max-width: 1300px){
    .navbar{
        margin: 0px;
    }
}

@media (max-width: 1200px) {
    nav a {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .navbar {
        border-radius: 0px;
        margin: 0px;
    }

    .navbar-nav {
        margin: 15px 0px;
    }
}

/* navbar animation */

.navbar-toggler {
    background: none;
    border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
}

.navbar-dark .navbar-toggler .icon-bar {
    background: #ffffff;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0);
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*jssor slider bullet skin 032 css*/
.jssorb032 {
    position: absolute;
}

.jssorb032 .i {
    position: absolute;
    cursor: pointer;
}

.jssorb032 .i .b {
    fill: rgb(255, 255, 255);
}

.jssorb032 .i:hover .b {
    fill: #42484c;
}

.jssorb032 .iav .b {
    fill: #42484c;
}

.jssorb032 .i.idn {
    opacity: 0.3;
}

/*jssor slider arrow skin 051 css*/
.jssora104 {
    display: block;
    position: absolute;
    cursor: pointer;
}

.jssora104 .c {
    fill: rgba(255, 255, 255, 0.585);
}

.jssora104 .a {
    fill: #42484c;
    opacity: 0.8;
}

.jssora104:hover .c {
    opacity: 0.6;
}

.jssora104:hover .a {
    opacity: 1;
}

.jssora104.jssora104dn .c {
    opacity: 0.3;
}

.jssora104.jssora104dn .a {
    opacity: 1;
}

.jssora104.jssora104ds {
    opacity: 0.3;
    pointer-events: none;
}

#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 1300px;
    height: 500px;
    overflow: hidden;
    visibility: hidden;
}

#slides {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 1300px;
    height: 500px;
    overflow: hidden;
}

@media (max-width: 601px) {
    #jssor_1 {
        height: 1000px;
    }

    #slides {
        height: 1000px;
    }
}

/* slider content */
.slider-content {
    position: absolute;
    top: 120px;
    left: 200px;
    z-index: 0;
    /* transition: all 0.5s; */
}

.slider-title {
    padding: 20px 35px;
    color: white;
    background-color: #6c757d;
    font-size: 40px;
    display: inline-block;
    color: white;
    font-weight: bold;
    /* transition: all 0.5s; */
}

.slider-sub-title {
    padding: 20px 35px;
    display: inline-block;
    max-width: 70%;
    color: #6c757d;
    font-size: 25px;
    background-color: white;
    /* transition: all 0.5s; */
}

.slider-button {
    padding: 20px 35px;
    display: block;
    max-width: 20%;
    text-align: center;
    background-color: #3667b6;
    border: none;
    color: white;
    font-size: 20px;
    /* transition: all 0.5s; */
}

.slider-button:hover {
    text-decoration: none;
    color: white;
    background-color: #5f62a5;
}

@media (max-width: 601px) {
    .slider-title {
        font-size: 40px;
    }

    .slider-sub-title {
        font-size: 30px;
    }

    .slider-button {
        font-size: 30px;
        max-width: 25%;
    }

    .slider-content {
        top: 300px;
    }
}

.hr {
    background-color: #a3a3a3;
    height: 0.5px;
}


/* gallery */
#gallery .item img {
    transition: all 1s ease;
}

#gallery .item img:hover {
    transform: scale(1.05);
}

#mediaGallery img {
    transition: all 0.5s ease;
}

#mediaGallery img:hover {
    transform: scale(1.2);
    filter: grayscale(100%) brightness(70%);
}

#mediaGallery .view {
    position: absolute;
    font-size: 25px;
    color: white;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

#mediaGallery .image:hover .view {
    opacity: 1;
}

#homeGallery img {
    transition: all 0.5s ease;
}

#homeGallery img:hover {
    transform: scale(1.2);
    filter: grayscale(100%) brightness(70%);
}

#homeGallery .view {
    position: absolute;
    font-size: 25px;
    color: white;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

#homeGallery .image:hover .view {
    opacity: 1;
}

/* videos and events */

.title {
    border-left: 5px solid;
    border-color: #3667b6;
}

.title-white {
    border-left: 5px solid;
    border-color: white;
}

.title h4 {
    margin-left: 15px;
}

/* events */
#events .event-date {
    font-size: 35px;
    font-weight: 400;
    color: white;
}

#events .event-title {
    font-size: 20px;
    font-weight: bold;
}

#events .event-title a {
    color: white;
}

#events .table-bordered td,
.table-bordered th {
    border: 1px solid white;
}

#footer {
    background: rgb(142, 18, 18);
    background: linear-gradient(37deg, rgba(142, 18, 18, 1) 0%, rgba(27, 68, 135, 1) 76%);
}

#footer .social-icons a {
    font-size: 30px;
}

/* about */

#about {
    position: relative;
    text-align: center;
    background-image: url("../img/website/KainetixSports_Slider1.jpeg");
    height: 800px;
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    transition: all 1s ease;
}

@media (max-width: 769px) {
    #about {
        height: 500px;
    }
}


/* talents */

#talents {
    position: relative;
    text-align: center;
    background-image: url("../img/website/KainetixSports_Slider3.png");
    height: 700px;
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    transition: all 1s ease;
}

@media (max-width: 769px) {
    #talents {
        height: 500px;
    }
}

.talents .card .talent-img {
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.talents .card:hover .talent-img {
    filter: none;
}

#talent .social-icons a {
    background-color: #6c757d;
    padding: 5px;
    width: 35px;
    text-align: center;
    text-decoration: none;
}

#talent .social-icons a:hover {
    background-color: #3667b6;
}

.lg-backdrop {
    z-index: 1050;
}

.talentGallery img {
    transition: all 0.5s ease;
}

.talentGallery img:hover {
    filter: grayscale(100%) brightness(70%);
}

.talentGallery .view {
    position: absolute;
    font-size: 25px;
    color: white;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.talentGallery .image:hover .view {
    opacity: 1;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.centered p {
    background: #6c757d;
    color: white;
    font-size: 70px;
    padding: 5px 30px;
    letter-spacing: 10px;
    font-weight: bolder;
    transition: all 0.5s ease;
}

.centered p:hover {
    background: linear-gradient(37deg, rgba(142, 18, 18, 0.8) 0%, rgba(27, 68, 135, 0.7) 76%);
    cursor: pointer;
}

@media (max-width: 767px) {
    .centered p {
        font-size: 30px;
    }
}

/* expertise */
#expertise {
    background-image: url("../img/website/expertise.jpeg");
    height: 700px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

@media (max-width: 769px) {
    #expertise {
        height: 500px;
    }
}

/* contact */
#contact-bg {
    background-image: url("../img/website/contact.jpg");
    height: 700px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

@media (max-width: 769px) {
    #contact-bg {
        height: 500px;
    }
}



/*     Alert    */
.alert {
    border: 0px;
    color: #ffffff;
    position: relative;
    padding-left: 65px;
}

.hidden {
    display: none;
}

.alert [data-notify="icon"] {
    font-size: 30px;
    display: block;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.alert [data-notify="title"] {
    display: block;
    font-weight: bold;
}

.alert [data-notify="message"] {
    font-size: 15px;
}

.alert .close {
    color: white;
}

.alert-primary {
    background-color: #1D62F0;
}

.alert-info {
    background-color: #23CCEF;
}

.alert-success {
    background-color: #59d05d;
}

.alert-warning {
    background-color: #fbad4c;
}

.alert-danger {
    background-color: #ff646d;
}

.g-recaptcha {
    transform: scale(1);
    -webkit-transform: scale(1);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}


@media screen and (max-width: 1200px) {

    .g-recaptcha {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

/* media */
#media {
    background-image: url("../img/website/media.jpg");
    height: 800px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

@media (max-width: 769px) {
    #media {
        height: 500px;
    }
}

.hidden {
    display: none;
}

#social-links ul {
    margin: 0px;
    padding: 0px;
}

#social-links ul li {
    display: inline-block;
    margin-right: 20px;
    color: black;
}

#social-links ul li a {
    color: black;
    font-size: 20px;
}

.st-btn {
    display: inline-block !important;
}

.replies[data-toggle='collapse']:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    display: inline-block;
    margin-left: 5px;
    content: '\f105';
    transition: all .15s ease;
    transform: rotate(90deg);
    color: black;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.replies[data-toggle='collapse'][aria-expanded='true']:after {
    transform: rotate(-90deg);
}

.replies[data-toggle='collapse'][aria-expanded='true']:before {
    content: 'Hide Replies';
}

.replies[data-toggle='collapse'][aria-expanded='true'] span {
    display: none;
}

.replies:before,
.replies[data-toggle='collapse']:after {
    visibility: visible;
}

.owl-carousel .owl-video-tn {
    background-position: center;
    background-size: cover;
}

@media (max-width: 400px) {
    .owl-carousel .owl-video-tn {
        background-size: contain;
    }
}

/* parsley js */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #3cbe3f;
    border: 1px solid #d6e9c6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: rgb(224, 56, 53);
    border: 1px solid #eed3d7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(193, 193, 193);
    border-radius: 200px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(52, 124, 139, 1) 0%, rgba(54, 103, 182, 1) 49%);
    border-radius: 500px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.btn {
    transition: all 0.5s ease;
}
